@font-face {
  font-family: 'Pretendard';
  src: local('Pretendard'),
    url('@/assets/fonts/Pretendard-Thin.subset.woff2') format('woff2'),
    url('@/assets/fonts/Pretendard-Thin.subset.woff') format('woff'),
    url('@/assets/fonts/Pretendard-Thin.ttf') format('ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  src: local('Pretendard'),
    url('@/assets/fonts/Pretendard-ExtraLight.subset.woff2') format('woff2'),
    url('@/assets/fonts/Pretendard-ExtraLight.subset.woff') format('woff'),
    url('@/assets/fonts/Pretendard-ExtraLight.ttf') format('ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  src: local('Pretendard'),
    url('@/assets/fonts/Pretendard-Light.subset.woff2') format('woff2'),
    url('@/assets/fonts/Pretendard-Light.subset.woff') format('woff'),
    url('@/assets/fonts/Pretendard-Light.ttf') format('ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  src: local('Pretendard'),
    url('@/assets/fonts/Pretendard-Regular.subset.woff2') format('woff2'),
    url('@/assets/fonts/Pretendard-Regular.subset.woff') format('woff'),
    url('@/assets/fonts/Pretendard-Regular.ttf') format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  src: local('Pretendard'),
    url('@/assets/fonts/Pretendard-Medium.subset.woff2') format('woff2'),
    url('@/assets/fonts/Pretendard-Medium.subset.woff') format('woff'),
    url('@/assets/fonts/Pretendard-Medium.ttf') format('ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  src: local('Pretendard'),
    url('@/assets/fonts/Pretendard-SemiBold.subset.woff2') format('woff2'),
    url('@/assets/fonts/Pretendard-SemiBold.subset.woff') format('woff'),
    url('@/assets/fonts/Pretendard-SemiBold.ttf') format('ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  src: local('Pretendard'),
    url('@/assets/fonts/Pretendard-Bold.subset.woff2') format('woff2'),
    url('@/assets/fonts/Pretendard-Bold.subset.woff') format('woff'),
    url('@/assets/fonts/Pretendard-Bold.ttf') format('ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  src: local('Pretendard'),
    url('@/assets/fonts/Pretendard-ExtraBold.subset.woff2') format('woff2'),
    url('@/assets/fonts/Pretendard-ExtraBold.subset.woff') format('woff'),
    url('@/assets/fonts/Pretendard-ExtraBold.ttf') format('ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  src: local('Pretendard'),
    url('@/assets/fonts/Pretendard-Black.subset.woff2') format('woff2'),
    url('@/assets/fonts/Pretendard-Black.subset.woff') format('woff'),
    url('@/assets/fonts/Pretendard-Black.ttf') format('ttf');
  font-weight: 900;
}

* {
  font-family: 'Pretendard', sans-serif !important;
  font-display: fallback;
}

html {
  font-size: 10px !important;
}
